# Dist Directory
lib
dist
public
build

# OSX files
.DS_Store
.AppleDouble
.LSOverride

# Logs
/logs
.log
yarn-error.log

# Node modules
node_modules

# Snowpack
.snowpack

# Demo project for testing
demo