# Dist Directory
lib
dist
public
build

# OSX files
.DS_Store
.AppleDouble
.LSOverride

# Logs
/logs
.log

# Node modules
node_modules

# Snowpack
.snowpack

# Test
verifier

# Yarn
.yarn/cache
yarn-error.log
