.@{prefix}-container {
    z-index: 100;
    position: fixed;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

    // button when is user
    &.user, &.admin {
        display: flex;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 40px;
        bottom: 20px;
        left: calc(-200px + 20px);
        line-height: 40px;
        cursor: pointer;
        color: @color-secondary;
        background: @color-primary;
        border-radius: 25px;

        &:hover {
            left: -20px;
            height: 50px;
        }

        &::before {
            content: attr(x-user);
        }
    }

    // button override with user is admin
    &.admin {
        &::before {
            content: attr(x-admin);
        }
    }

    // when component state is 'recording'
    &.recording {
        display: flex;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 60px;
        z-index: 101;
        bottom: 20px;
        left: 50%;
        font-size: 150%;
        transform: translate(-50%, 0);
        cursor: pointer;
        color: @color-primary;
        background: @color-secondary;
        border-radius: 10px;
        animation: flickerAnimation 1s infinite;

        &:hover {
            animation: none;
            color: @color-secondary;
            background: @color-primary;

            &::before {
                content: attr(x-recording-hover);
            }
        }

        &::before {
            content: attr(x-recording);
        }

        @keyframes flickerAnimation {
            0%   { opacity:1; }
            50%  { opacity:0; }
            100% { opacity:1; }
        }
    }

    // when component state is 'report'
    &.report {
        height: calc(100% - 200px);
        width: calc(100% - 200px);
        font-size: 100%;
        left: 50%;
        top: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        background: @color-secondary;
        padding: 20px;
    }
}