.@{prefix}-table {
    position: absolute;
    left: 20px; right: 20px;
    top: 20px; bottom: 20px;
    overflow: auto;
    scrollbar-width: thin;

    table {
        width: 100%;
        transition: all 0.3s ease;
        overflow: auto;
    }

    td, th {
        text-align: left;
        font-size: 100%;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: .625em;
        color: @color-primary-text;
        background: @color-secondary;
    }

    th {
        font-weight: 600;
        color: @color-primary-text;
    }

    thead {
        top: 60px;
        position: sticky;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
    }

    @media screen and (max-width: 600px) {
        thead {
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr {
            display: block;
            margin-bottom: .625em;
            border-bottom: 1px solid @color-secondary-text;
        }

        td {
            display: block;
            font-size: 80%;
            text-align: right;
        }

        td::before {
            /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}